* {
    padding: 0;
    margin: 0;
}
body {
    background: rgb(82, 95, 107);
}
div {
    border: 1px solid black;
}
/*********************************************/
.container {
    border: 15px solid rgb(34, 44, 75);
    width: min(550px,75vw);
    height: min(75vh,725px);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: column;
}
button {
    flex: 1;
    opacity: 1;
    font-size: x-large;
}
button:hover {
    opacity: 0.95;
    color: whitesmoke;
}
button:active {
    opacity: 0.5;
    box-shadow: 0 5px #535353;
    transform: translateY(1px);
  }
/*********************************************/
.display {
    flex: 1.5;
    font-size: clamp(32px, 4vw, 48px);
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 10px solid rgb(34, 44, 75);
    background-color: #2b2a2a;
    color: cornsilk;
   
}
/*********************************************/
.middle {
    display: flex;
    flex: 4;
    flex-direction: column;
}
.row {
    flex: 1;
    display: flex;
}
.number {
    background-color: darkgrey;
}
.operator, .sign {
    background-color: coral;
}

/*********************************************/
.bottom {
    display: flex;
    flex: 1;
}
.equals {
    background-color: rgb(58, 148, 178);
}
.backspace, .clear {
    background-color: rgba(235, 235, 65, 0.882);
}
